<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
 

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    
         <!--My accounts section-->

    <div class=" column has-text-left is-size-4 ">
        <p>My Account Summary</p>
    </div>

    <div class="columns is-multiline">
        <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-link has-text">
                <p class="title is-1">232</p>
                <p class="subtitle is-4">Orders</p>
            </div>
        </div>
        <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-info has-text">
                <p class="title is-1">12</p>
                <p class="subtitle is-4">My Chamas</p>
            </div>
        </div>
        <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-danger has-text">
                <p class="title is-1">$1,678</p>
                <p class="subtitle is-4">My Loans</p>
            </div>
        </div>
        <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-success has-text">
                <p class="title is-1">$20,756</p>
                <p class="subtitle is-4">My Savings</p>
            </div>
        </div>
    </div>
    <!--End my accounts-->
    
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-medium is-centered is-boxed is-fullwidth">
      <div class="container">
        <ul>
            <li class="is-active"><a>My Chamas</a></li>
            <li><a>Recent Transactions</a></li>

        </ul>
      </div>
    </nav>
  </div>
</section>